// цвета
$black: #35312E;
$gray: #82868E;
$lightGray: #E8E8E7;
$red: #DC1020;
$white: #ffffff;
$primary: #F0EEDD;
$secondary: #6C674D;
$brown: #670A18;
$accent: #D37657;

// Разрешения
$tablet : 768px;
$laptop: 1024px;
$desktop: 1366px;

// шрифты
$firstFont: 'Roboto', sans-serif;